
.contactez-nous{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #ffd9d8;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
    background-position: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;
    border: #111 solid 1px;
    max-width: 80%;
}

.form1{
    margin-top: 50px;
    border-left: #111 solid 1px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    margin: 60px 20px;

}

.img img{
    border: solid 1px;
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 60px;
}

.titre{
    text-align: center;
    margin-bottom: 30px;
}
.titre h1{
    color: blue;
}

.img label{
    display: block;
    width: 90px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.img input{
    display: none;
}

.section{
    margin-left: 30px;
}

.name input{
    position: relative;
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
}

.email input{
    position: relative;
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
}

.sujet select{
    position: relative;
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
}

.message textarea{
    position: relative;
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
}

.submit{
    align-items: center;
    justify-content: center;
    display: flex;
}

.submit button{
    border: 1px solid;
    font-size: 1em;
    font-weight: 700;
    color:#111;
    background: #fff;
    display: inline-block;
    /*transformer le curseur en doigt*/
    cursor: pointer;
    /*text en majiscule*/
    text-decoration: none;
    outline: none;
    transition: 0,5s;
    max-width: 300px;
    height: 30px;
    margin: 40px;
}

.colone{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.dn {
    text-decoration: none ;
    border: 0;
}

/*recu*/
.cote-a-cote{
    display: flex;
    justify-content: space-between;
  }
  .page{
    width:210mm ;
    min-height: 297mm;
    padding: 20mm;
    margin:10mm auto ;
    border: 1px #d3d3d3 solid ;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0,1);
  }
  .subpage{
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #ffeaea solid;
  }
  @media print{
    .hidden-print,
    .hidden-print * {
      display: none !important;
    }
  }
  @page{
    size:A4 ;
    margin: 0;
  }
  @media print{
    html,
    body  {
      width: 210mm;
      height: 297mm;
    }
    .hidden-print,
    .hidden-print * {
      display: none !important;
    }
    .page{
      margin: 0;
      border: 1px initial ;
      border-radius: initial;
      width: initial;
      min-height: initial;
      border-radius: 5px;
      background: initial;
      box-shadow: initial;
      page-break-after: always;
    }
  }